<aside class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-brand">
            <div class="brand-icon">
                <i class="bi bi-basket2-fill"></i>
            </div>

            <div>
                <h4>Laundry</h4>
                <small>Management System</small>
            </div>
        </div>
    </div>
    <div class="sidebar-group">
        <div class="sidebar-menu-title">
            Akun
        </div>

        <a
            href="{% url 'accounts:profile' %}"
            class="nav-link
            {% if request.resolver_match.namespace == 'accounts' %}
                active
            {% endif %}"
        >
            <i class="bi bi-person-circle"></i>
            <span>Profil Saya</span>
        </a>
    </div>

    <nav class="sidebar-menu">
       <a
    href="{% url 'pelanggan:dashboard' %}"
    class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
>
    <i class="bi bi-speedometer2 me-2"></i>
    Dashboard
</a>

        <a
    href="{% url 'pelanggan:pesanan_tambah' %}"
    class="nav-link {% if request.resolver_match.url_name == 'pesanan_tambah' %}active{% endif %}"
>
    <i class="bi bi-cart-plus"></i>
    <span>Buat Pesanan</span>
</a>

       <a
    href="{% url 'pelanggan:pesanan_saya' %}"
    class="nav-link
    {% if request.resolver_match.url_name == 'pesanan_saya' %}
        active
    {% endif %}"
>
    <i class="bi bi-bag-check"></i>
    <span>Pesanan Saya</span>
</a>

<a
    href="{% url 'pelanggan:lacak_laundry' %}"
    class="nav-link
    {% if request.resolver_match.url_name == 'lacak_laundry' %}
        active
    {% endif %}"
>
    <i class="bi bi-geo-alt"></i>
    <span>Lacak Laundry</span>
</a>

<a
    href="{% url 'pelanggan:pembayaran_list' %}"
    class="nav-link
        {% if request.resolver_match.url_name == 'pembayaran_list' or request.resolver_match.url_name == 'pembayaran_tambah' %}
            active
        {% endif %}
    "
>
    <i class="bi bi-wallet2 me-2"></i>
    Pembayaran
</a>
<a
    href="{% url 'pelanggan:invoice_list' %}"
    class="nav-link {% if request.resolver_match.url_name == 'invoice_list' %}active{% endif %}"
>
    <i class="bi bi-receipt me-2"></i>
    <span>Invoice</span>
</a>

<a
    href="{% url 'pelanggan:notifikasi_list' %}"
    class="nav-link {% if request.resolver_match.url_name == 'notifikasi_list' or request.resolver_match.url_name == 'notifikasi_baca' %}active{% endif %}"
>
    <i class="bi bi-bell me-2"></i>
    <span>Notifikasi</span>
</a>

</nav>
    </nav>
</aside>